.containerCapa{
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 50px;
    color: #c9e265;
    font-size:x-large;
}
.containerF1{
    display: flex;
    align-items: center;
}

.containerF2{
    display: flex;
    align-items: center;
}
.containerF3{
    display: flex;
    align-items: center;
}
.fotos {
    
    padding: 10px 20px;
    width: 300px;
    height: 200x;

}
.fotosC {
    
    padding: 10px 20px;
    width: 300px;
    height: 200px;

}
h1{
    font-size: xx-large;
    margin: 50px;
}