.ProdCul{
    display: flex;
   
    justify-content: space-around;
    

    
}
.Event{
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 500px ;

}
.CapaPod{
    width: 290px;
    height: 290px;
    padding: 10px;
    margin: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 500px;
}
.Event:hover{
    background-color: rgb(157, 214, 72);
}
a2{
    color:rgb(93, 194, 93);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-size: xx-large;
    margin: 10px;

}