.redes{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    align-items: center;
    display: flex;
    background-color: #c9e265;
    
}
.redes img{
    width: 40px;
    height: 40px;

}
.redes p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}