.header{
    background-color: #3b3b3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}
.link {
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #c9e265;
}
.link:hover {
    color: whitesmoke;
}

